* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.me {
  position: absolute;
  bottom: 0;
  z-index: 5;
  max-width: 550px;
  filter: contrast(90%);
  pointer-events: none;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.title {
  position: absolute;
  top: 18%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 5rem;
  letter-spacing: 0.3rem;
  z-index: 5;
  color: transparent;
  background-position: 0 0;
  animation: animated-text 20s linear infinite;
  -webkit-text-stroke: 1px rgba(16, 104, 31, 0.8);
}


.one,
.three,
.five {
  -webkit-text-stroke: 1px rgba(1, 1, 1, 0.8);
  background: white;
  -webkit-background-clip: text;
}

.two,
.four,
.six {
  -webkit-text-stroke: 1px #000000;
  background: white;
  -webkit-background-clip: text;
}